html {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  background-color: #efeee9;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header h1 {
  color: #4f2404;
  text-align: center;
  font-size: 3rem;
}

body {
  margin: 0;
}

body ul {
  font-family: sans-serif;
  list-style-type: none;
}

.info-boxes {
  margin: 0;
  padding: 0;
  text-align: center;
  border-top: 2px  solid #795638;
  border-bottom: 2px  solid #795638;
}

.info-boxes li {
  display: block;
  margin: 0;
  max-width: none;
  padding: 0.5em;
  background-color: #9a816d;
  border-top: 2px solid #745842;
  border-bottom: 2px solid #745842;
  text-align: center;
  font-size: 1.75em;
}

.info-boxes li:hover {
  background-color: #795437;
  border-top: 2px #a28670;
  border-bottom: 2px #a28670;
}

ul li a {
  color: #fff;
  text-decoration: none;
}
